{% extends "layout.html" %}

{% block body %}
<div class="sign_in">
  <div class="first-sec">
  <img src="../static/todoLogo.png" alt="waley" class="logo">
</div>
  <div class="second-sec">
  <form class="first-sec-sec"action="/login" method="post">
    <input class="email"  type="text" autocomplete="off" autofocus name="email" placeholder="Email">
    <input class="password" type="password" autocomplete="off" autofocus name="pword" placeholder="Password">
    <button class="login-btn" type="submit">Log In</button>
  </form>
  <form class="login-form" action="/signup" method="get">
    <button class="create-btn" type="submit" >Create an account</button>
  </form>
</div>
</div>
{% endblock %}